.footer {
    padding: 6rem 0;

    background-color: var(--dark-blue);

    & a {
        color: var(--very-light-gray);
        text-decoration: none;
    }

    & a:hover {
        color: var(--lime-green);
    }

    & .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        text-align: center;

        @media only screen and (min-width: $bp-large) {
            flex-direction: row;

            text-align: left;
        }
    }

    &__top {
        margin-bottom: 4rem;

        @media only screen and (min-width: $bp-large) {
            margin-bottom: 0;
        }
    }

    &__logo {
        width: 15rem;
        margin-bottom: 3rem;

        @media only screen and (min-width: $bp-large) {
            margin-bottom: 6rem;
        }
    }

    &__socials {

        & img {
            width: 3rem;
        }

        & a:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__nav {
        margin-bottom: 4rem;

        &-list {
            list-style: none;

            display: flex;
            flex-direction: column;

            @media only screen and (min-width: $bp-large) {
                flex-direction: row;
                flex-wrap: wrap;
            }
        }

        &-item {

            @media only screen and (min-width: $bp-large) {
                display: inline-block;
                flex-basis: 15rem;
            }
        }

        &-item:not(:last-child) {
            margin-bottom: 2rem;
        }

        &-link {
            text-decoration: none;
            color: var(--very-light-gray);
        }

        @media only screen and (min-width: $bp-large) {
            width: 30rem;
            height: 12.2rem;
            margin-bottom: 0;
        }
    }

    &__bottom {
        @media only screen and (min-width: $bp-large) {
            text-align: right;
        }
    }

    &__bottom .invite-btn {
        margin-bottom: 3rem;

        @media only screen and (min-width: $bp-large) {
            margin-bottom: 6rem;
        }
    }

    &__copyright {
        color: var(--light-grayish-blue);
    }
}